html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

a {
    text-decoration: none;
}

li {
    list-style: decimal;
    line-height: 1.2;
}
li + li {
    margin-top: 5px;
}

html, body {
    background: #37474F;
}

body {
    font-family: 'Fira Mono', monospace;
    padding: 20px;
    padding-bottom: 50px;
    color: #ECEFF1;
}

hr {
    margin-top: 5px;
    border: 0;
    display:block;
    width: 100%;
    height: 12px;
    border-bottom: 1px dashed #607D8B;
}

h1 {
    margin: 15px 0;
}
h2 {
    margin: 15px 0;
}

a {
    color: #1DE9B6;
    font-weight: bold;
    cursor: pointer;
}

span {
    color: #18FFFF;
    font-weight: bold;
}

b {
    color: #FAFAFA;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

b.string {
    color: #FFD740;
    font-weight: 400;
}

b.prim {
    color: #FF4081;
}

i {
    background: #EF5350;
    color: #FFF;
    padding: 2px;
    font-size: 12px;
    border-radius: 2px;
    font-style: normal;
    margin-right: 10px;
}

p.desc {
    margin-bottom: 10px;
    font-weight: bold;
    color: #CFD8DC;
    border-bottom: 2px solid #546E7A;
    padding-bottom: 5px;
}

ul {
    margin-left: 45px;
}

ul.sub li {
    list-style: lower-latin;
    margin-top: 5px;
    margin-bottom: 10px;
}

section.tab {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

section.note {
    min-height: 30px;
    padding: 10px;
    border-left: 10px solid #546E7A;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
    section.note > p.title {
        font-weight: bold;
        min-width: 150px;
    }
    section.note > p {
        color: #B0BEC5;
    }
